body{

    font-family: "lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 220px 0px 226px;
}
#heading-title{
    /* Mary */


width: 121px;
height: 61px;
left: 226px;
top: 51px;
font-weight: 800;
font-size: 45px;
line-height: 61px;

/* Dark 01 */
color: #181818;
}
.text-primary{
    color: #FD6E0A;
}
.button_background{
    background-color: #FD6E0A;
    color: #FFFFFF;
   border-radius: 5px;
    border: 0;
    font-weight: 700;
     font-size: 20px;

    padding: 18px 35px 19px 36px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
 
   font-size: 20px;
   font-weight: 400;


}

.header{
    
     background: rgb(255, 248, 243);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
    

}
.banner{
    padding: 0px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    Width:585px;
    Height:356px;
}
#banner-greeting{
    
    color: rgb(71, 71, 71);
    font-weight:600px;
    font-size: 45px;
    margin-bottom: 0px;
}
#banner-name{
    
    color: rgb(24, 24, 24);
    font-weight: 700px;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;

}
#contact{
    color: rgb(253, 110, 10);
    
    padding: 19px 23.5px 18px 58.5px;
    border-radius: 5px;
    border-color: #FD6E0A;
    font-weight: 700px;
    font-size: 20px;


}
#banner-paragraph{
    font-weight: 400px;

    font-size: 18px;
    margin-top: 0px;
}
 img{
    Width:500px;
    Height:600px;
}
aside{
    float:left;
   Width: 774px;
   Height: 136px;
   Top: 812px;
   Left: 23px;
   font-weight:700px;
   font-size:100px;
   Row height:136px;
   Letter spacing:33%
}
.image{
   
}

.aboutme{
    text-align:center;
    color:rgb(24, 24, 24);
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 130px;
}
.about{
    margin: 15px auto;
    padding:131px 157px 132px 156px;
    background-color: rgb(255, 255, 255);
}
.about_text{
    font-weight: 400px;
    font-size: 18px;
    color:rgb(117, 117, 117);
    margin-top: 30px;
    text-align: center;
}
main{
    Width: 1140px;
   Height: 550px;
   margin: 0px auto;

}
.about-info{
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
 .info-heading{
    text-align: center;
    font-weight: 400px;
    font-size: 20px;

}
.info{
    text-align: center;
    font-weight: 400px;
    font-size: 20px;

}
#what-content{
    Width:909px;
    Height:90px;
    margin:30px auto;
    text-align: center;

}

.skill > img{
    Width:44px;
    Height:44px;

}
.skill-topic{
    display:flex;
    gap:24px;
    justify-content: space-around;
}
.skill{
    border-radius:5px;
    padding:30px ;
    background-color: rgb(255, 255, 255);
    box-shadow: Outside shadow
    X:0 Y:6 Blur: 50 extension: 0 rgba(0, 0, 0, 0.10);
}
.skill-derevative {
    margin-top: 20px;
    color: rgb(24, 24, 24);
}
.skill-heading{
    margin-top: 30px;
}
#resume{
    margin-top: 130px;
}
#what-do-i{
    margin-top: 130px;
}
#resume{
    margin-bottom: 131px;
}
.resume_title{
    font-weight: 700px;

    font-size: 30px;
    color: rgb(71, 71, 71);
    margin-bottom: 30px;

}
.resume-content{
    display: flex;
    gap: 71px;
    justify-content: space-around;
}
.resume-header{
    font-weight: 700;
    font-size: 25px;
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
}
.resume-institute{
    font-weight: 600px;
    font-size: 20px;
    color:rgb(117, 117, 117);
    margin-bottom: 20px;

}
.resume-discription{
    font-size: 16px;
    font-weight: 400px;
    color:rgb(117, 117, 117);
}
hr{
    margin: 1px	Middle;
    color:rgb(209, 209, 209);
    width: 558px;
}
.download{
    text-align: center;
    margin-top: 50px;
}



